/* Examples

.xl-btn {
  display: inline-block;
  border-radius: 3px;
  font-family: AvenirNext-Regular;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  width: 252px;
  padding: 12px 40px 12px 40px;
  margin-top: 5px; }


.l-btn {
  border-radius: 3px;
  font-family: AvenirNext-Regular;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  padding: 8px 120px 8px 120px; }

.action-button {
  border-radius: 3px;
  font-family: AvenirNext-Regular;
  font-size: 18.26px;
  color: #FFFFFF;
  line-height: 25px; }

.search-button {
  font-family: AvenirNext-Medium;
  font-size: 18px;
  line-height: 25px; }

  */