/* Examples

.password-icon{
    width: 29px;
    position: absolute;
    margin: 28px 0 0 -41px;
}


.event-cover-img{
    width: 322px;
    max-height: 205px;
    overflow-y: hidden;
    margin-bottom: 15px;
}
*/